# Noter til kap8

Hvad er en liste?

Det er en bestemt slags type, som egentlig kan indeholde alle types; integers, floats etc. 

Du kan arbejde med lsiter ved at bruge funktioner på dem. DU kan samle, splitte etc. Du kan lave det meste. Lister er en af de mest brugte data typer overhovedet. 

Lister er et objekt. 

Hvert element på listen er desuden et objekt.

Elementerne står som regel i en bestemt rækkefølge.

En strings tegn står i en bestemt rækkefølge.

Indeksnumre bruges til at holde kontrol med rækkefølge. I nedenstående tilfælde er det 0,1,2,3,4,5,6

In [1]:
whales=[5,6,7,3,6,6,2]

In [3]:
whales[0]

5

In [4]:
whales[-1]

2

In [5]:
greet='hej med dig'

In [7]:
greet[4]

'm'

Eksempelvis har "Hello" indeksnumrene H0, e1, l2, l3, o4 eller H-5, e-4, l-3, l-2, o-1.

In [8]:
empty=[]

In [9]:
empty[0]

IndexError: list index out of range

Det kan man altså ikke gøre. At bede om noget der ikke har et indeksnummer, eller en tom liste.
Dermed er det en fejlagtig forespørgsel

#### SLICING MED INDEKSNUMRE

In [12]:
group=['jan','ib','bo','per','eva']

In [13]:
firstgroup=group[:2]

In [14]:
firstgroup

['jan', 'ib']

In [17]:
secondgroup=group[2:]

In [18]:
secondgroup

['bo', 'per', 'eva']

In [20]:
lastelements=group[-3:]

In [21]:
lastelements

['bo', 'per', 'eva']

Brug slicing til at finde de første 4 elementer i group, hvert andet element jan, bo og eva, den anden hver anden ib og per.  

Alle listelængder skal være muligt.

In [26]:
firstfour=group[:4]

In [27]:
firstfour

['jan', 'ib', 'bo', 'per']

In [34]:
everyother=group[::2]

In [35]:
everyother

['jan', 'bo', 'eva']

In [40]:
everyother2=group[1::2]

In [41]:
everyother2

['ib', 'per']

In [50]:
life=[['usa',74.5],['dk',75.5],['canada',79]]

In [51]:
life[0]

['usa', 74.5]

In [52]:
life[0][1]

74.5

In [53]:
life[0][1]=75

In [54]:
life

[['usa', 75], ['dk', 75.5], ['canada', 79]]

In [55]:
greet

'hej med dig'

In [56]:
greet[1]='a'

TypeError: 'str' object does not support item assignment

lister kan ændres (mutable), strings kan ÆK ændres (immutable)

strings skal redefineres, men det er urealistisk at tro man kan genskabe den "nye" string

In [57]:
priser=[10,30,18,25]

In [58]:
len(priser)

4

In [59]:
min(priser)

10

In [60]:
max(priser)

30

In [61]:
sum(priser)

83

In [62]:
sorted(priser)

[10, 18, 25, 30]

In [63]:
names=['peter','petra','petri','flemming','lemming','leming']

In [64]:
sortednames=sorted(names)

In [65]:
sortednames

['flemming', 'leming', 'lemming', 'peter', 'petra', 'petri']

ved at lave en sorted names variabel, kan jeg sætte listen i eksempelvis nummerrisk eller alfabetisk rækkefølge

In [69]:
hold=['per','ib','bo','eva','ulla','anne']

In [79]:
hold.append('peter')

In [80]:
hold

['per', 'ib', 'bo', 'eva', 'ulla', 'anne', 'peter']

In [72]:
len(hold)

7

In [81]:
hold.insert(2, 'finn')

In [82]:
sorted(hold)

['anne', 'bo', 'eva', 'finn', 'ib', 'per', 'peter', 'ulla']

In [139]:
nythold=hold[:len(hold)//2]
nythold2=hold[len(hold)//2:]

In [87]:
hold1=hold[:4]

In [88]:
hold2=hold[4:]

In [89]:
hold1

['per', 'ib', 'finn', 'bo']

In [90]:
hold2

['eva', 'ulla', 'anne', 'peter']

In [92]:
hold

['per', 'ib', 'finn', 'bo', 'eva', 'ulla', 'anne', 'peter']

In [95]:
hold=(hold1+hold2)

In [96]:
hold

['per', 'ib', 'finn', 'bo', 'eva', 'ulla', 'anne', 'peter']

In [135]:
hold[::-1]

['per', 'ib', 'finn', 'bo', 'eva', 'ulla', 'anne', 'peter']

In [99]:
hold

['peter', 'anne', 'ulla', 'eva', 'bo', 'finn', 'ib', 'per']

In [100]:
animals=['sparrow','blackbird','hawk']

In [101]:
bird=animals[2]

In [103]:
bird

'hawk'

In [104]:
animals[2]='raven'

In [106]:
animals

['sparrow', 'blackbird', 'raven']

Så hvis listenavn[indekstal] er på højre side defineres en ny variabel som her er "bird".

Hvis listenavn[indekstal] er på venstreside redefineres ordet på listen på nævnte indeksnummers plads.

In [116]:
list1=[1,2,3,4,5,6,7,8]

In [117]:
list2=[3,4]

In [131]:
def compare_listlength(list1,list2):
    """
    (list,list)->int
    compares  2 listes and returns by how many elements the longest list is 
    longer than the shortes (or that they have equal lengths). Example:
    list1=[2,3,4,5,6,7,8]
    list2=[4,5]
    >>> compare_listlength(list1,list2)
    [2,3,4,5,6,7,8] is longer than [4,5] by 5 elements
    """
    return len(list1)-len(list2)

In [132]:
compare_listlength(list1,list2)

6

In [133]:
print(hold,'is longer than',animals,'by',compare_listlength(hold,animals))

['peter', 'anne', 'ulla', 'eva', 'bo', 'finn', 'ib', 'per'] is longer than ['sparrow', 'blackbird', 'raven'] by 5

In [128]:
import random

In [129]:
random.randint(1,10)

4

In [138]:
nythold

['peter', 'anne', 'ulla', 'eva']

In [140]:
nythold2

['bo', 'finn', 'ib', 'per']

In [141]:
import namelength

ModuleNotFoundError: No module named 'namelength'

In [143]:
import name_length.py

ModuleNotFoundError: No module named 'name_length'