### Lister - noter og øvelser

Lister kan indeholde alle typer, dvs. strings, lister, int, floats osv

Man kan bruge funktioner i lister

En liste er et objekt

Hvert element på listen er også et objekt

En listes elementer står i en bestemt rækkefølge 

En strings tegn står i en bestemt rækkefølge

Indeksnumre bruges til at holde kontrol med rækkefølge
    h e l l o
    0 1 2 3 4
   -5 -4-3-2-1

Man kan godt ligge sin egne programmer/functions man fx har skrevet i idle
Fx: import namelenth
    namelength.name_length()

In [1]:
greet = 'hej med dig'

In [4]:
greet[4]

'm'

### Slicing med indeksnumre

In [5]:
group = ['jan', 'ib', 'bo', 'per', 'eva']

#jeg vil gerne have trukket ja og ib ud

In [7]:
firstgroup = group[:2]

In [8]:
firstgroup

['jan', 'ib']

In [9]:
secondgroup = group[2:]

In [10]:
secondgroup

['bo', 'per', 'eva']

In [11]:
lastelements = group [-3:]

In [12]:
lastelements

['bo', 'per', 'eva']

In [15]:
len(group)

5

In [18]:
firstfour = group [:4]

In [19]:
firstfour

['jan', 'ib', 'bo', 'per']

In [25]:
hvertandet = group [::2]

In [26]:
hvertandet

['jan', 'bo', 'eva']

Når man bruger to '::' så får vi en trejde plads der vil have hvor mange pladser man skal 'hoppe'

In [27]:
group[1::2]

['ib', 'per']

### Indlejring

Liste kan indeholde lister

In [28]:
life = [['usa', 74.5],['dk', 75.5],['canada', 79]]

In [29]:
life[0]

['usa', 74.5]

In [30]:
life[0][1]

74.5

In [31]:
life[0][1] = 75

In [32]:
life

[['usa', 75], ['dk', 75.5], ['canada', 79]]

Nu har jeg ændret usa's værdi

Lister kan ændres (mutable)

Strings kan ikke ændres (immutable)

In [33]:
priser = [10,30,18,25]

In [34]:
len(priser)

4

In [35]:
min(priser)

10

In [36]:
sum(priser)

83

In [37]:
sorted(priser)

[10, 18, 25, 30]

Når man bruger '()' er det et functions kald. '[]' hører til lister.

In [38]:
names = ['per','ib','ulla']

In [39]:
sorted(names)

['ib', 'per', 'ulla']

In [40]:
names

['per', 'ib', 'ulla']

In [41]:
list(greet)

['h', 'e', 'j', ' ', 'm', 'e', 'd', ' ', 'd', 'i', 'g']

denne function bruges ikke så tit og er ret værdiløs

### Øvelse

game.py

Du skal starte programmet således:import random Anvend random.randint(1,10) for at få et vilkårligt tal mellem 1 og 10 (random er et særligt Python-modul og randint(x,y) er en funktion som returnerer et vilkårligt tal mellem x og y)•Bed om brugers navn•Bed bruger indtaste et tal•Giv bruger besked om tallet er for højt eller for lavt eller om han har ramt plet. Hver gang bruger skal gætte igen startes programmet automatisk forfra •Når bruger har gættet rigtigt afsluttes programmet•Eksempel på muligt output:•========== RESTART: /Users/plv786/Documents/introprog/2uge/game.py =======•hello what is you name: Lina•guess a number from 1 to 10: 5•your guess is too high•guess a number from 1 to 10: 3•well done, Lina!!! You guessed my number; it was indeed 3

In [4]:
import random

In [5]:
import sys

In [12]:
random_number = random.randint(1,10)

AttributeError: 'function' object has no attribute 'randint'